<title>
  <%= title %>
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/00d76a4bef.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/style.css'>
<script src="/js/jquery.js"></script>

<%- include('header'); -%>
  <section class="featured">
    <div class="content-wrapper">
      <h1 id="myHeader" class="text-4xl">
        <%= title %>
      </h1>
    </div>
  </section>

  <div class="px-4 sm:px-6 lg:px-8 xl:px-24 max-w-5xl mx-auto w-3/4 bg-orange-100">
    <form action="/updatestudent/" method="post" class="flex flex-col  px-4 rounded-md shadow-md">
       <input type="hidden" name="id"  value="<%= sdata._id %>">
      <input aria-label="Enter student name" type="text" name="stname" placeholder="Student name" required
        autocomplete="off" value="<%= sdata.name %>"
        class="font-serif text-sm uppercase text-gray-base w-3/4 mt-2 mr-3 py-2 px-4  border  border-gray-300 rounded mb-1" />
      <input aria-label="Enter father's name" type="text" name="frname" placeholder="Father's name" autocomplete="off"
        value="<%= sdata.fr_name %>"
        class="text-sm font-serif uppercase text-gray-base w-3/4 mt-2 mr-3 py-2 px-4  border  border-gray-300 rounded mb-1" />
      <input aria-label="Enter mother's name" type="text" name="mrname" placeholder="Mother's name" autocomplete="off"
        value="<%= sdata.mother_name %>"
        class="text-sm font-serif uppercase text-gray-base w-3/4 mt-2 mr-3 py-2 px-4  border  border-gray-300 rounded mb-1" />
      <div class="flex sm:flex-row flex-col">
        <input aria-label="DOB" type="date" name="stdob" placeholder="Date of Birth" autocomplete="off"
          value="<%= moment(sdata.dob).format( 'YYYY-MM-DD') %>"
          class="text-sm font-mono text-blue-900 text-gray-base w-full sm:w-1/4 max-w-[180px] mt-2 mr-3 py-2 px-4 border border-gray-300 rounded mb-1" />

        <input aria-label="Aadhar" type="text" name="staadhar" placeholder="Aadhar number" autocomplete="off"
          maxlength="12" minlength="12" value="<%= sdata.aadhar %>"
          class="text-sm font-mono text-blue-900 text-gray-base w-full sm:w-1/4 max-w-[180px] mt-2 mr-3 py-2 px-4 border border-gray-300 rounded mb-1" />

        <input aria-label="Mobile" type="number" name="stnumber" placeholder="Mobile number" autocomplete="off"
          min="5555555555" max="9999999999" value="<%= sdata.mobile %>"
          class="text-sm font-mono text-blue-900 text-gray-base w-full sm:w-1/4 max-w-[180px] mt-2 mr-3 py-2 px-4 border border-gray-300 rounded mb-1" />
      </div>

      <div class="flex sm:flex-row flex-col">
        <input aria-label="Enter roll number" type="text" name="stroll" placeholder="Roll number" required
          autocomplete="off" value="<%= sdata.roll %>"
          class="text-sm font-mono w-full sm:w-1/6 max-w-[180px] text-gray-base mt-2 mr-3 py-2 px-4  border  border-gray-300 rounded mb-1" />
        <input aria-label="Enter class" type="text" name="stclass" placeholder="Class" required autocomplete="on"
          class="text-sm font-serif uppercase text-gray-base mt-2 mr-3 w-full sm:w-1/6 max-w-[180px] py-2 px-4  border  border-gray-300 rounded mb-1"
          value="<%= sdata.class %>" />
        <input aria-label="Section" type="text" name="stsec" placeholder="Section" autocomplete="on"
          class="text-sm font-serif uppercase text-gray-base mt-2 mr-3 py-2 px-4 w-full sm:w-1/6 max-w-[180px]  border  border-gray-300 rounded mb-1"
          value="<%= sdata.sec %>" />
        <select name="cmbGender" id="cmbGender" required
          class="text-sm  mr-3 font-serif  py-2 px-4 border border-gray-300 w-full sm:w-1/6 max-w-[180px]  rounded mb-1">
          <option value="Male" <% if(sdata.gender=="Male" ){ %> selected <% } %>>
              Male</option>
          <option value="Female" <% if(sdata.gender=="Female" ){ %> selected <% } %>>
              Female</option>
        </select>
      </div>
      <div class="flex sm:flex-row flex-col">
        <input aria-label="Address" type="text" name="stadd1" placeholder="Address line1" autocomplete="off"
          value="<%= sdata.address.line1 %>"
          class="text-sm uppercase font-serif text-gray-base mt-2 mr-3 py-3 px-4 w-full sm:w-2/3 max-w-[300px] border  border-gray-300 rounded mb-1" />
        <input aria-label="Address" type="text" name="stadd2" placeholder="Address line2" autocomplete="off"
          value="<%= sdata.address.line2 %>"
          class="text-sm font-serif uppercase text-gray-base mt-2 mr-3 py-3 px-4 w-full sm:w-2/3 max-w-[300px] border  border-gray-300 rounded mb-1" />
      </div>
      <div class="flex sm:flex-row flex-col">
        <input aria-label="Address" type="text" name="stdistrict" placeholder="District" autocomplete="off"
          value="<%= sdata.address.district %>"
          class="text-sm font-serif text-gray-base w-full sm:w-2/3 max-w-[300px] mt-2 mr-3 py-3 px-4  border  border-gray-300 rounded mb-1 uppercase" />

        <input aria-label="Pin" type="number" name="stpin" placeholder="Pin code" autocomplete="on" min="100000"
          max="999999" value="<%= sdata.address.pin %>"
          class="text-sm font-mono text-blue-900 text-gray-base w-full sm:w-2/3 max-w-[300px] mt-2 mr-3 py-3 px-4  border  border-gray-300 rounded mb-1" />
      </div>

      <button type="submit"
        class="bg-green-400 py-3 w-3/4 mb-10 mr-3 font-serif  rounded-lg hover:bg-green-600 hover:rounded-full text-sm">
        Update
      </button>
    </form>
  </div>

  <%- include('footer'); -%>